.product_container
{
    border: 1px solid #B2B2B2;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-top-right-radius:8px ;
    border-top-left-radius:8px ;
    margin-bottom: 12px;
}
.product_container
 .img_container{
    position: relative;
}

.product_container
 .heart_container{
position: absolute;
top: 5%;
left: 5%;

cursor: pointer;
}
.type_container{
 position: absolute;
top: 5%;
right: 5%;
background-color: rgba(0, 0, 0, 0.5);
color: #fff !important;
padding: 8px;
border-radius: 12px;
font-size: 14px;
   
}
.product_container
 .content_container{
    padding: 12px;
}
.product_container
 .name{
    color: #0C131B !important;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
      white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.product_container
 .location{
        color: #415063 !important;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
}
.product_container
 .details{
        color: #415063 !important;
    font-size: 14px;
    font-weight: 700;
    text-align: right;
}

.product_container
 .price_container{
    color: #0C131B;
        font-size: 14px;
    font-weight: 700;

}
.product_container .heart_icon_container{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_container
 .price{
    color: #1F477A;
        font-size: 18px;
    font-weight: 700;

}


.product_container
 .item_container{
    display: flex;
    justify-content: space-between;
}
.product_container
 .product_img{
object-fit: fill;
height: 200px;
}