.change_password_container .title{
    font-size: 24px;
    font-weight: 700;
}
.change_password_container .sub_title{
    font-size: 18px;
    font-weight: 700;
}
.change_password_container .items_container{
border: 1px solid rgba(178, 178, 178, 1);
padding:12px;
border-radius: 8px;
}
.change_password_container .change_btn{
    padding: 8px 24px;
    background-color: rgba(31, 71, 122, 1);
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    color: #fff;
        border: 0;

}
.change_password_container .disable_change_btn{
    padding: 8px 24px;
    background-color: gray;
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    color: #fff;
        border: 0;

}
.change_password_container .cancel_btn{
    padding: 8px 24px;
    background-color:rgba(245,245,245,1);
  color: rgba(31, 71, 122, 1);
    cursor: pointer;
    border-radius: 24px;
    font-weight: bold;
    margin-right: 8px;

    border: 0;
}