.ProductsCategories .tab{
    width: 15%;
    color: #B2B2B2;
    border-bottom: 2px solid #B2B2B2;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.ProductsCategories .active{
    color:#1F477A ;
        border-bottom: 2px solid #1F477A;
    width: 15%;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.ProductsCategories .active p{
    color:#1F477A ;
}
.ProductsCategories ul li a{
    color: #B2B2B2;
    font-size: 12px;
    font-weight: 600;
}