.knowlage_container{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 35vh;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  position: relative;
  color: white;
  text-align: center;
  
margin-top: 22px;
margin-bottom: 22px;
border-radius:12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.knowlage_container h5{
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 32px;
}
.knowlage_container p{
    color: rgba(234, 234, 234, 1);
    font-weight: 600;
    font-size: 22px;
}